 <div class="dummy-phone">
          <div class="screen-shot">
              <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                       <%= image_tag "ss1.png" , height: '493' , width: '240' , class: ""%>
                      </div>
                      <div class="carousel-item">
                       <%= image_tag "ss2.png" , height: '493' , width: '240'%>
                      </div>
                      <div class="carousel-item">
                         <%= image_tag "ss3.png" , height: '495' , width: '243'%>
                      </div>
                      <div class="carousel-item">
                         <%= image_tag "ss4.png" , height: '488' , width: '243'%>
                      </div>
            </div>
        </div>                
      </div>             
  </div>