<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand allicons hide-text" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex mx-md-auto">
        <input class="form-control me-2 text-center" type="search" placeholder="Search" aria-label="Search">
        <!--<button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
      <ul class="navbar-nav  mx-md-auto">
         <li class="nav-item">
          <a class="nav-link allicons explore-icon hide-text" href="#">Explore</a>
        </li>
      
       
        <li class="nav-item">
          <a class="nav-link allicons notification-icon hide-text" href="#">notification</a>
        </li>

        <li class="nav-item">
          <a class="nav-link allicons profile-icon hide-text" href="#">profile</a>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>